@font-face {
  font-family: IranSans;
  src: url("./../fonts/woff2/IRANSansWeb.woff2") format("woff2"),
    url("./../fonts/woff/IRANSansWeb.woff") format("woff"),
    url("./../fonts/ttf/IRANSansWeb.ttf") format("ttf");
}

.countainer {
  display: flex;
  width: 50%;
  margin: auto 20px;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.countainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 1;
  width: 100%;
  height: 100%;
  background-color: rgb(27, 67, 50);
  opacity: 0.65;
  z-index: 1000;
  transition: all 300ms ease;
}

img {
  width: 100%;
}

a {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  position: absolute;
  color: #fff;
  text-align: center;
  font-size: 4vw;
  font-weight: 700;
  z-index: 3000;
  font-family: "IranSans";
}

.countainer:hover::before {
  opacity: 0.8;
}
