@font-face {
  font-family: IranSans;
  src: url("../assetes/font/woff2/IRANSansWeb.woff2")
      format("woff2"),
    url("../assetes/font/woff/IRANSansWeb.woff") format("woff"),
    url("../assetes/font/ttf/IRANSansWeb.ttf") format("ttf");
}
body {
  padding: 0;
  margin: 0;
}
.footer-svg {
  font-family: 'IranSans';
  position: absolute;
  top: 0;
  /* bottom:500px; */
}
#svg1 {
  position: absolute;
  top: 100px;
}
#svg2 {
  position: absolute;
  top: 90;
}
#svg3 {
  position: absolute;
  top: 100px;
}
.footer{
  width: 100%;
  height: 300px;
  background-color:red;
  position: fixed;
  bottom: 0;
  
}