@font-face {
  font-family: IranSans;
  src: url("./../fonts/woff2/IRANSansWeb.woff2")
      format("woff2"),
    url("./../fonts/woff/IRANSansWeb.woff") format("woff"),
    url("./../fonts/ttf/IRANSansWeb.ttf") format("ttf");
}

body {
  margin: 0;
  font-family: 'IranSans';
}

button {
  color: #fff;
  border: 1px solid #014532;
  border-radius: 15px;
  background-color: #014532;
  padding: 10px 20px;
  font-size: 20px;
  margin-left: 15px;
  min-width: 168px;
}

.countainer {
  display: flex;
  flex: shrink 1;
  width: 95%;
  margin: 1rem auto;
  justify-content: space-between;
  align-items: center;
}

.items ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.items ul li a {
  text-decoration: none;
  color: #014532;
  margin: 0px 30px;
  font-size: 18px;
  float: right;
  text-align: center;
  flex-shrink: 0;
  position: relative;
}

img {
  margin: 0 !important;
}

button:hover {
  cursor: pointer;
}

#enterpic {
  width: 100%;
  margin-top: 10px;
}

li a::after {
  content: '';
  width: 0;
  height: 3px;
  background-color: #014532;
  position: absolute;
  right: 50%;
  bottom: -10px;
  border-radius: 0 0 5px 5px;
  transition: all .5s ease;
} 

li a:hover::after {
  width: 100%;
  right: 0;
}
  
@media only screen and (max-width: 1200px) {
  ul li a {
    display: none;
  }
}

