.container {
  width: 30%;
  margin: 3rem 5rem;
  position: relative;
}
.agent {
  width: 90%;
  border-radius: 16px;
  text-align: center;
}
.shadow {
  top: -30px;
  left: -20px;
  display: inline;
  width: 90%;
  height: 100%;
  border: 1px solid rgba(64, 145, 108, 0.8);
  position: absolute;
  background-color: rgba(64, 145, 108, 0.8);
  border-radius: 16px;
  z-index: -1;
}
